<a href="https://colab.research.google.com/github/LLucasLira/Python_Para_Data_Science/blob/main/Copy_of_Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Iniciando Estudos com Dados

**Python para Data Science**

1. Importação do Pandas e limitando a quantidade de linhas

In [5]:
import pandas as pd
pd.set_option('display.max_rows',10)

2. Criação de uma variável 'dataset' para realizar a leitura do meu Excel

In [7]:
dataset = pd.read_csv('db.csv', sep = ';')

3. Chamando o Excel para uma visualização inicial

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

4. Verificar a tipagem do arquivo

In [8]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

5. Breve conjunto de estatisticas descritivas. Documentação Pandas Describe(): [link text](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

In [18]:
dataset[['Quilometragem','Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [11]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# **Tuplas**

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de intens, geralmente heterogêneos. Podem ser construídas de várias formas:
* Utilizando um par de parênteses: ( )
*   Utilizando uma vírgula a dierita: x,
*   Utilizando um par de parênteses com itens separados por vírgulas: (x, y, z)

1. Criando uma Tupla vazia

In [12]:
()

()

2. Adicionando valores na Tupla

In [13]:
1, 2, 3

(1, 2, 3)

3. Criando uma variável e atribuindo valores a Tupla

In [16]:
tuple_valores = tuple(['valor 1','valor 2','valor 3','valor 4','valor 5','valor 6'])
tuple_valores

('valor 1', 'valor 2', 'valor 3', 'valor 4', 'valor 5', 'valor 6')

4. Verificando a tipagem da variável

In [17]:
type(tuple_valores)

tuple

In [19]:
tuple_valores[0]

'valor 1'

In [20]:
tuple_valores[1]

'valor 2'

In [21]:
tuple_valores[-1]

'valor 6'

In [22]:
tuple_valores[1:3]

('valor 2', 'valor 3')

In [23]:
for item in tuple_valores:
  print('Valor: ' + item)

Valor: valor 1
Valor: valor 2
Valor: valor 3
Valor: valor 4
Valor: valor 5
Valor: valor 6

In [25]:
_, A, _, B, _, C  = tuple_valores

In [26]:
A

'valor 2'

In [27]:
B

'valor 4'

In [28]:
_, A, *_ = tuple_valores

In [29]:
A

'valor 2'

# Zip()

In [30]:
tuple_valores

('valor 1', 'valor 2', 'valor 3', 'valor 4', 'valor 5', 'valor 6')

In [49]:
nomes = ['Ana','Beatriz','Carlos','Davi','Eduardo','Fernanda']
nomes

['Ana', 'Beatriz', 'Carlos', 'Davi', 'Eduardo', 'Fernanda']

In [47]:
type(nomes)

list

In [51]:
list(zip(tuple_valores, nomes))

[('valor 1', 'Ana'),
 ('valor 2', 'Beatriz'),
 ('valor 3', 'Carlos'),
 ('valor 4', 'Davi'),
 ('valor 5', 'Eduardo'),
 ('valor 6', 'Fernanda')]